.outlet-content {
  padding: 1rem;
}

.page-title {
  background-color: #fff1a8;
  padding: .5rem;
  border-radius: 10px;
  width: fit-content;
    h3 {
      margin: 0;
      font-weight: 600;
    }
}
