<div class="p-5">
  <app-content-table-header [amount]="250" [title]="'Servicios externos'" [description]="'Servicios registrados'" ></app-content-table-header>

  <app-search-bar [title]="'Buscar servicio'"
                  [placeholder]="'Buscar por nombre, correo electronico, telefono, ciudad...'">
    <app-create-button [buttonTitle]="'Nuevo Servicio externo'" (handleClick)="createExternalService()"></app-create-button>
  </app-search-bar>

  <app-external-services-table
    (editExternalService)="goToDetail()"
    (deleteExternalService)="deleteExternalService()"
  ></app-external-services-table>

</div>
